label
{
   margin-bottom: 6px;
   display: inline-block;
}


input[type="text"], input[type="password"], input[type="email"]
{
   background: -moz-linear-gradient(top, #fff, #eee 1px, #fff 25px);
   -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
   font-size: 26px;
   padding-left: 5px;
   border-radius: 5px;
   border: 1px solid #ccc;
   margin-bottom: 30px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus
{
   border: 1px solid #ccf0cc;
}

input[type="submit"]
{
   border: 1px solid #ccc;
   padding: 5px;
   border-radius: 3px;
   background: -moz-linear-gradient(top, #fff, #eee 1px, #fff 25px);
}

form
{
   width: 300px;
   margin: 0 auto;
   margin-top: 30px;
}
